* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(../img/Fundo.jpg);
  background-size: auto 100vh;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  height:100vh;
}
/** Se a tela tiver pelo menos 400px vai carregar os estilos */
@media (min-width: 400px) {
  body {
    font-size: 14px;
  }
}

header {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
  
.menu {
  background-color: white;
  position: fixed;
  top: 0;
  width: 100vw;
}

.menu ul {
  display: flex;
  justify-content: space-evenly;
}
  
.menu li {
  list-style: none;
}

.menu a {
  padding: 10px 20px;
  display: block;
}
  
a {
  color: teal;
  text-decoration: none;
}
  
a:hover {
  text-decoration: underline;
}
  
.site-subtitle,
.site-title {
  color: whitesmoke;
  text-align: center;
  font-family: 'Source Code Pro', monospace;
}

.site-title {
  font-size: 3em;
}
  
.site-subtitle {
  font-style: italic;
}

.portifolio {
  color: whitesmoke;
  padding: 2em;
}

.portifolio h2 {
  margin-bottom: 0.8em;
  text-align: center;
}

.portifolio .grid {
  display: grid;
  gap: 1em;
  text-align: center;
  height:80vh;
}

@media (min-width: 620px) {
  .portifolio .grid {
    grid-template-columns: 280px 280px;
  }
}

@media (min-width: 900px) {
  .portifolio .grid {
    grid-template-columns: 280px 280px 280px;
    justify-content: space-around;
  }
}
  
.img-portfolio {
  height: 180px;
  width: 280px;
  object-fit: cover;
  object-position: bottom;
  border-radius: 5%;
}
  